page-login {
    ion-card {
        position: relative;
        text-align: center;
      }
      .card-title {
        font-weight: bold;
        text-align: center;
        color: rgb(211, 35, 35);
      }  
}
