page-login {
    ion-card {
        position: relative;
        text-align: center;
      }
      .card-title {
        font-weight: bold;
        text-align: center;
        color: rgb(119, 4, 23);
      }  
}
