page-rates {

    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f15d4a;
    }

    h4 {
        text-align: center;
        font-size: 1.2em;
        color: #fff;
    }	

    smilerate {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
